*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ============================================================HEADER============================================================ */
.header{
    height: 12rem;
    background-image: linear-gradient(0,#fe6433, #f53f2d);
}   

/* ========================================NAVBAR========================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 3.6rem;
    width: 90%;
    margin: 0 auto;
}
/*  ====================NAVBAR LEFT==================== */
.navbarLeft{
    line-height: 4rem;
    position: relative;
}

.navbar-separate::after{
    position: absolute;
    background-color: azure;
    height: 2rem;
    width: 0.1rem;
    content: "";
    right: -0.5rem;
    top: 1rem;
}

.fa-regular, .fa-brands{
    font-size: 1.8rem;
    margin: 1rem 0.3rem;
}

.navbarleft-link{
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}

.navbarleft-link:hover .link-container{
    display: block;
    animation: FadeIn ease 1s;
}

.navbarleft-link:hover .navbarleft-link__item{
    opacity: 0.8;
}

.link-container{
    display: none;
    position: absolute;
    max-width: 17rem;
    padding: 0.5rem; 
    background-color: white;
    border-radius: 0.2rem;
    overflow: hidden;
}

.link-container__QR-code{
    display: block;
    height: 15.4rem;
}

.link-container__download {
    display: flex;
    justify-content: space-evenly;
}

.link-container__download-CHplay img,
.link-container__download-Appstore img {
    height: 1.5rem;
    margin: auto 0.6rem;
}


/*====================NAVBAR RIGHT==================== */
.navbar .navbarRight{
    line-height: 4rem;
    display: flex;
}

.navbarRight__notification{
    margin-right: 2rem;
    position: relative;
}

.navbarRight__notification:hover a{
    opacity: 0.8;
}

.navbarRight__notification:hover .sub-notification{
    display: block;
    animation: growth ease-in 0.25s;
    will-change: opacity, transform;
    transform-origin: 38rem 2rem;
}

/* =========START-SUB-NOTIFICATION======== */
.sub-notification{
    position: absolute;
    width: 40rem;
    display: none;
    top: 120%;
    right: 0;
    background-color: white;
    border: 0.1rem solid #e5e5e5;
    box-shadow: #e5e5e5;
}

.sub-notification::before{
    content: "";
    border-width: 2rem 2.8rem;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -3rem;
    right: 1rem;
}

.sub-notification::after{
    content: "";
    border-width: 1rem 6rem;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top: -1rem;
    right: 0rem;
}

.sub-notification__header{
    height: 4rem;
    background-color: white;
    font-size: 1.5rem;
    margin-left: 1.2rem;
    text-transform: capitalize;
}

.sub-notification__content{
    opacity: 0.8;
    border: 0.1rem solid rgba(254, 243, 241, 1);
    display: flex;
    cursor: pointer;
}

.sub-notification__content--unread {
    background-color: rgb(238, 77, 45,0.1);
}

.sub-notification__content:hover{
    background-color: rgb(238, 77, 45,0.05);
}


.sub-notification-content__img{
    max-width: 5rem;
    object-fit: contain;
    margin: 1rem 0 1rem 1.3rem;
}

.sub-notification-content__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.sub-notification-content__content a{
    text-decoration: none;
}

.sub-notification-content__header {
    font-size: 1.4rem;
    color: #333;
    line-height: 2rem;
}

.sub-notification-content__describe {
    color: #756F6E;
    font-size: 1.2rem;
    line-height: 2rem;
}

.sub-notification__seeAll a{
    color: #333;
    font-size: 1.4rem;
    display: block;
    text-align: center;

}
/* ========= END-SUB-NOTIFICATION======== */



/* ==========NAVBAR -ACCOUNT=========== */
.navbarRight__help{
    margin-right: 2rem;
}

.navbarRight__account{
    display: flex;
    position: relative;
}

.account__img{
    max-width: 2.2rem;
    align-self: center;
    margin-top: 0.5rem;
    margin-right: 0.6rem;
    border-radius: 2rem;
    cursor: pointer;
}

.account__name{
    font-weight: 500;
}

.navbarRight__account:hover .sub-account{
    display: block;
    animation: growth ease-in 0.25s;
    will-change: opacity, transform;
    transform-origin: 14rem 2rem;
}

.sub-account{
    display: none;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    width: 16rem;
}

.sub-account::before{
    content: "";
    border-width: 2rem 2.8rem;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -3rem;
    right: 1rem;
}

.sub-account::after{
    content: "";
    border-width: 1rem 6rem;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top: -1rem;
    right: 0rem;
}

.sub-account__items{
    opacity: 0.8;
    display: flex;
    cursor: pointer;
}

.sub-account__order{
    border-bottom: 0.1rem solid rgb(82, 80, 80,0.1);
}

.sub-account__items:hover{
    background-color: rgb(238, 77, 45,0.1);
}

.sub-account__items a{
    font-size: 1.4rem;
    color: black;
    line-height: 2.8rem;
    padding-left: 2rem
}



/*  ========================================          ======================================== */
