/* mobile & table */
@media (max-width:1023px) {
    :root {
        --header-height: 7rem;
        --navbar-height: 0rem;
    }

    .hide-on-mobile-tablet{
        display: none !important;
    }

    .header__sort-bar{
        display: flex;
    }


    .header{
        position: fixed;
        width :100%;
        right: 0;
        z-index: 10;
    }
    
    .header__cart{
        width: 10rem;
    }
  
    .header-cart__notice{
        right: 2.3rem;
    }

    .mobile-category{
        margin-top: 12.8rem;
        margin-bottom: 1rem;
        display: flex;
    }

    .home-product{
        margin-top: 0;
    }

    .width-tablet-mobile-100{
        width: 100%;
    }

    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100% !important;
        padding: 0 calc((100% - 670px) / 2);
    }

    .header__cart-list--no-cart::after, 
    .header__cart-list--have-cart::after,
    .header__cart-list--no-cart::after, 
    .header__cart-list--have-cart::after{
        display: none;
    }

    .header__cart-list--no-cart::before,
    .header__cart-list--have-cart::before{
        width :100%;
        height: 1rem;
        top: -3rem;
    }

    .cart-list__footer .cart-list__button{
        width:100%;
        margin: 0;
        margin-top: 2rem;
    }

    .footer-wrap{
        justify-content: center;
    }

    .footer-content{
        padding:1rem 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .footer__heading{
        text-align: center;
        font-size: 1.2rem;
    }

    .footer-items{
        font-size: 1.1rem;
    }
}

/* pc */
@media (min-width:1023px) {
    .hide-on-pc{
        display: none !important;    
    }
}

/* tablet */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet{
        display: none !important;    
    }

    .header-sort__link--active{
        color: var(--primeryColor);
    }
}

/* mobile */
@media (max-width:739px) {
    :root {
        --header-height: 6rem;
        --navbar-height: 0rem;
    }
    .hide-on-mobile{
        display: none !important;
    }

    .header__logo{
        margin: 0 auto;
        width: 11rem;
    }

    .header__mobile-search,
    .header__mobile-list{
        display: flex !important;
        cursor: pointer !important;
    }

    .header__cart{
        width: 8rem;
    }

    .header-cart__notice{
        right: 1.5rem;
    }

    #header__mobile-input:checked ~ .header__mobile-search ~ .header__search{
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .header__search{
        height: 5rem;
        width: 100%;
        display: flex !important;
        position: fixed !important;
        transition: all linear 0.25s;
        top: 7rem;
        opacity: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    .header__search-history{
        width: 100vw !important;
    }

    .pagination .pagination-item{
        margin: 0;
    }

    .pagination .pagination-item a{
        font-size: 1.5rem;
        padding: 0.5rem 1.4rem;
    }

    .header-sort__item{
        padding: 0;
    }

    .home-product {
        margin-top: 0;
    }

    .product-item-wrap{
        padding: 0;
    }

    .header-sort__link--active{
        color: var(--primeryColor);
        border-bottom: 2px solid var(--primeryColor);
    }

    #header__mobile-sidebar:checked ~ .mobile-sidebar{
        opacity: 1;
        transform: translateX(0);
    }

    #header__mobile-sidebar:checked ~ .mobile-sidebar ~ .mobile-ovelay{
        display: block;
    }

    .mobile-sidebar{
        background-color: #fff;
        width: 280px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: all linear 0.3s;
        z-index: 3;
        overflow: scroll;
    }

    .mobile-sidebar::-webkit-scrollbar{
        display: none;
    }

    .mobile-ovelay{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.4);
        z-index: 2;
        display: none;
        cursor: pointer;
    }

    .mobile-sidebar__item{
        display: block;
        list-style-type: none;
        border-bottom: 1px solid #f2f1f3;
    }

    .mobile-sidebar__item:first-child{
        color: var(--primeryColor);
        line-height: 5rem;
        font-size: 1.8rem;
        padding-left: 20px
    }

    .mobile-sidebar__item a{
        line-height: 4rem;
        text-decoration: none;
        padding-left: 30px;
        color: black;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    .home-paginition{
        margin: 0;
    }
}

@media (min-width: 1024px) and (max-width:1238px) {
    .product-item-wrap{
        width: 25%;
    }
}

@media (min-width: 525px) and (max-width:739px) {
    .product-item-wrap{
        width: 33.333333%;
        flex: 0 0 33.33333%;
    }
}
